In [1]:
import pandas as pd
import numpy as np  
import matplotlib.pyplot as plt  
%matplotlib inline

In [29]:
df=pd.read_csv("student info2.csv")
df

,Timestamp,Name,Gender,Department,Year,SEM 1 SGPA,SEM 1 KT,SEM 2 SGPA,SEM 2 KT,SEM 3 SGPA,...,What is your preferred mode of transportation to reach college?,Can you sit a lecture for 2 hrs straight?,Do you do your submissions on time?,"If there are 5 hrs of lectures per day, would you attend all?","If there are 5 hrs of practicals per day, would you attend all?",Have you enrolled for coaching classes?,Teacher's Feedback,Have you won or participated in any Non - Technical event?,Label,How socially active are you?
0,2018/02/14 9:29:33 PM GMT+5:30,Mayuresh Pitale,Male,Computer Engineering,Second Year,7.93,0,7.93,0,7.38,...,Train,No,Yes,Yes,No,No,Good student,No,1.0,Highly active
1,2018/02/14 9:34:26 PM GMT+5:30,Vijeta Nayak,Female,Computer Engineering,Fourth Year,7.75,0,7.78,0,7.68,...,Train,No,Yes,Yes,Yes,No,Good leadership skills,Yes,1.0,Somewhat active
2,2018/02/14 9:39:11 PM GMT+5:30,Ojas Nandkumar Thale,Male,Information Technology,Second Year,6.15,0,6.09,0,6.00,...,Private Vehicle,Yes,Yes,Yes,Yes,No,Hard working,Yes,1.0,Somewhat active
3,2018/02/14 9:40:41 PM GMT+5:30,Anush Madathumkara,Male,Computer Engineering,First Year,5.75,0,6.54,0,5.90,...,Train,No,No,No,Yes,Yes,Responsible,Yes,1.0,Somewhat active
4,2018/02/14 9:41:14 PM GMT+5:30,Parag Iyyani,Male,Computer Engineering,Second Year,5.67,0,6.81,0,6.60,...,Train,No,Yes,Yes,Yes,No,Good leadership skills,No,1.0,Highly active
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,NaN,NaN,NaN,NaN,NaN,4.20,2,3.20,2,3.50,...,Bus,No,Yes,No,No,No,Bunk lectuer,NaN,NaN,NaN
258,NaN,NaN,NaN,NaN,NaN,4.40,1,4.90,1,4.20,...,Train,No,No,No,No,No,Needs improvement,NaN,NaN,NaN
259,NaN,NaN,NaN,NaN,NaN,4.90,2,3.50,2,4.70,...,Train,No,No,No,No,No,Lagging Behind,NaN,NaN,NaN
260,NaN,NaN,NaN,NaN,NaN,4.20,1,4.10,1,4.50,...,Train,No,Yes,No,No,No,Very talkative,NaN,NaN,NaN
261,NaN,NaN,NaN,NaN,NaN,4.70,2,3.20,2,3.80,...,Train,No,Yes,No,No,No,Does not follow my lecture,NaN,NaN,NaN

In [30]:
df=df.drop(['Timestamp','Name','Gender','Department',"Year","How much time does it take for you to reach college?","What is your preferred mode of transportation to reach college?","If yes, what is your internet speed?","Internet availability at home","How much would you consider as your average attendance throughout all the semesters so far?","Teacher's Feedback","How socially active are you?"],axis=1)

In [31]:
df=df.drop(["How many hours per week do you spend on writing assignments?","How many hours per week do you spend on studies?"],axis=1)

In [34]:
df=df.drop(["Can you sit a lecture for 2 hrs straight?","Do you do your submissions on time?","If there are 5 hrs of lectures per day, would you attend all?","If there are 5 hrs of practicals per day, would you attend all?","Have you enrolled for coaching classes?","Have you won or participated in any Non - Technical event?"],axis=1)

In [35]:
df=df.fillna(0)
df

,SEM 1 SGPA,SEM 1 KT,SEM 2 SGPA,SEM 2 KT,SEM 3 SGPA,SEM 3 KT,SEM 4 SGPA,SEM 4 KT,SEM 5 SGPA,SEM 5 KT,SEM 6 SGPA,SEM 6 KT,SEM 7 SGPA,SEM 7 KT,SEM 8 SGPA,Label
0,7.93,0,7.93,0,7.38,0.0,7.30,0.0,7.40,0,7.60,0.0,7.9,0,7.2,1.0
1,7.75,0,7.78,0,7.68,0.0,8.93,0.0,8.33,0,8.50,0.0,8.0,0,9.0,1.0
2,6.15,0,6.09,0,6.00,0.0,7.10,0.0,6.10,0,6.30,0.0,6.7,0,6.7,1.0
3,5.75,0,6.54,0,5.90,0.0,5.98,0.0,6.00,0,6.20,0.0,6.3,0,6.8,1.0
4,5.67,0,6.81,0,6.60,2.0,6.50,0.0,6.70,0,6.20,0.0,5.8,0,5.9,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,4.20,2,3.20,2,3.50,2.0,3.80,0.0,3.94,0,3.97,0.0,4.9,0,4.1,0.0
258,4.40,1,4.90,1,4.20,4.0,3.70,0.0,3.52,0,4.55,0.0,3.5,0,3.8,0.0
259,4.90,2,3.50,2,4.70,2.0,3.10,0.0,3.90,0,3.56,0.0,3.6,0,4.2,0.0
260,4.20,1,4.10,1,4.50,4.0,4.80,0.0,4.26,0,4.17,0.0,4.9,0,4.6,0.0
261,4.70,2,3.20,2,3.80,2.0,4.90,0.0,4.78,0,3.75,0.0,3.5,0,3.5,0.0

In [57]:
X=df[df.columns[0:15]]
y=df["Label"]

,SEM 1 SGPA,SEM 1 KT,SEM 2 SGPA,SEM 2 KT,SEM 3 SGPA,SEM 3 KT,SEM 4 SGPA,SEM 4 KT,SEM 5 SGPA,SEM 5 KT,SEM 6 SGPA,SEM 6 KT,SEM 7 SGPA,SEM 7 KT,SEM 8 SGPA
0,7.93,0,7.93,0,7.38,0.0,7.30,0.0,7.40,0,7.60,0.0,7.9,0,7.2
1,7.75,0,7.78,0,7.68,0.0,8.93,0.0,8.33,0,8.50,0.0,8.0,0,9.0
2,6.15,0,6.09,0,6.00,0.0,7.10,0.0,6.10,0,6.30,0.0,6.7,0,6.7
3,5.75,0,6.54,0,5.90,0.0,5.98,0.0,6.00,0,6.20,0.0,6.3,0,6.8
4,5.67,0,6.81,0,6.60,2.0,6.50,0.0,6.70,0,6.20,0.0,5.8,0,5.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,4.20,2,3.20,2,3.50,2.0,3.80,0.0,3.94,0,3.97,0.0,4.9,0,4.1
258,4.40,1,4.90,1,4.20,4.0,3.70,0.0,3.52,0,4.55,0.0,3.5,0,3.8
259,4.90,2,3.50,2,4.70,2.0,3.10,0.0,3.90,0,3.56,0.0,3.6,0,4.2
260,4.20,1,4.10,1,4.50,4.0,4.80,0.0,4.26,0,4.17,0.0,4.9,0,4.6
261,4.70,2,3.20,2,3.80,2.0,4.90,0.0,4.78,0,3.75,0.0,3.5,0,3.5

In [58]:
from sklearn.model_selection import train_test_split  
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                            test_size=0.4, random_state=0)

In [59]:
from sklearn.linear_model import LinearRegression  
regressor = LinearRegression()  
regressor.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [66]:
sc=regressor.score(X_test,y_test)
sc1=regressor.score(X_train,y_train)
print("Train Accuracy",sc1*100,"%")
print("Test Accuracy:",sc*100,"%")

Train Accuracy 87.79907203289203 %
Test Accuracy: 82.79761806388451 %

In [65]:
y_pred = regressor.predict(X_test)
dd = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})  
dd

     Actual  Predicted
194     0.0   0.329790
153     1.0   0.752885
145     1.0   1.023606
8       1.0   0.638843
111     1.0   0.913983
..      ...        ...
116     1.0   0.956381
24      1.0   0.628060
30      1.0   0.868934
234     0.0   0.177284
118     1.0   0.889184

[105 rows x 2 columns]